In [1]:
import pandas as pd

# Create a sample dataset
data = {'name': ['John', 'Mary', 'Sara', 'Tom', 'Jane'],
        'age': [25, 30, 35, 40, 45],
        'income': [50000, 55000, 60000, 65000, 70000]}
df = pd.DataFrame(data)

# Group the data by name and calculate the mean of the age and income columns
grouped_data = df.groupby('name').mean()

# Print the resulting dataframe
print(grouped_data)

       age   income
name
Jane  45.0  70000.0
John  25.0  50000.0
Mary  30.0  55000.0
Sara  35.0  60000.0
Tom   40.0  65000.0